nav, ul{
  height: 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style-type: none;
}
main > div{
  height: calc(100vh - 42px);
  text-align: center;
  width: 100vw;
  background-color: darkblue;
}
