nav{
  height: 42px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
ul{
  height: 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: max-content;
  list-style-type: none;
}
main > div{
  min-height: 90vh;
  max-height: 90vh;
  background-color: var(--darkgrey);
  margin-left: auto;
  margin-right: auto;
}

li{
  margin: 10px;
  transition: font-size 1s, color 1s;
  color: white;
}
li:hover{
  font-size: larger;
}
li a{
  transition: color 1s, text-decoration 1s;
}
li a:hover{
  color: var(--baseGreen);
  text-transform: uppercase;
  text-decoration: none;
}
.section-0{
  text-align: center;
}
.section-0 h1{
  margin-top: 32px;
}
.section-1 div{
  min-height: min-content !important;
}